<div class="container">
  <div class="row">
    <div class="col-md-10">
      <main role="main">
        <app-header></app-header>
        <div class="container">
          <div *ngFor="let chapter of chapterService.getAll(); let i = index">
            <h2 [id]="chapter.tag" class="clickable" (click)="chapter.toggleVisibility(chapter)">{{ i + 1 }}. {{ chapter.title }}<hr /></h2>
            <div *ngIf="chapter.visible" [ngSwitch]="chapter.tag">
              <ng-container *ngSwitchCase="'introduction'"><app-introduction></app-introduction></ng-container>
              <ng-container *ngSwitchCase="'setup'"><app-setup></app-setup></ng-container>
              <ng-container *ngSwitchCase="'components'"><app-components></app-components></ng-container>
              <ng-container *ngSwitchCase="'data-binding'"><app-data-binding></app-data-binding></ng-container>
              <ng-container *ngSwitchCase="'directives'"><app-directives></app-directives></ng-container>
              <ng-container *ngSwitchCase="'components-ii'"><app-components-ii></app-components-ii></ng-container>
              <ng-container *ngSwitchCase="'services'"><app-services></app-services></ng-container>
              <ng-container *ngSwitchCase="'routing'"><app-routing></app-routing></ng-container>
              <ng-container *ngSwitchCase="'html-forms'"><app-html-forms></app-html-forms></ng-container>
              <ng-container *ngSwitchCase="'pipes'"><app-pipes></app-pipes></ng-container>
              <ng-container *ngSwitchCase="'http-requests'"><app-http-requests></app-http-requests></ng-container>
              <ng-container *ngSwitchCase="'apendices'"><app-apendices></app-apendices></ng-container>
              <ng-container *ngSwitchDefault><p>The chapter '{{ chapter.tag }}' does not exist (yet)!</p></ng-container>
            </div>
          </div>
          <hr>
        </div>
      </main>
    </div>
    <div class="col-md-2">
      <app-menu></app-menu>
    </div>
  </div>
</div>
<footer class="container">
  <p>&copy; <a href="http://www.wilrik.nl" target="_blank">wilrik.nl</a> {{ getYear() }}</p>
</footer>