<h5>About Angular</h5>
<p>
  Angular is a JavaScript front-end framework created by Google. Look it up <a href="https://angular.io/" target="_blank">here</a>.
  There is great <a href="https://angular.io/docs" target="_blank">documentation</a> including a <a href="https://angular.io/tutorial" target="_blank">tutorial</a>.
  This primer was created using version {{ version }} of Angular.</p>
<h5>AngularJS vs Angular 2</h5>
<p>
  Google made a huge change between versions 1 and 2 of the Angular framework.
  Therefore, the first version is referred to as <a href="https://angularjs.org/" target="_blank">AngularJS</a> and versions 2 and up as just Angular.
</p>
<h5>JavaScript and TypeScript</h5>
<p>
  <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> is a superset of JavaScript.
  Browsers do not support TypeScript. So that is why all TypeScript code needs to be compiled down to JavaScript when used in web-based application.
  Although it is possible to write JavaScript in Angular it is highly recommended to use TypeScript because it is typesafe for one (as the name suggests) and supports object-oriented programming concepts.
</p>
<h5>Development environment</h5>
<p>
  Use <a href="https://www.jetbrains.com/webstorm/specials/webstorm/webstorm.html" target="_blank">WebStorm</a> (30 day trial / free for teachers and students) from JetBrains
  or <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>, the free IDE from Microsoft for web development.
  Another option is to use the in-browser IDE <a href="https://stackblitz.com/" target="_blank">StackBlitz</a>, based on VS Code, which is great for prototyping or giving lectures.
</p>
<h5>Prerequisites</h5>
<p>
  Some knowledge on HTML, CSS, JavaScript and how the DOM works are recommended. Also some hands on experience with OOP is a big plus.
</p>
<p>
  You will need <a href="https://nodejs.org/en/download/" target="_blank">node.js</a> since the Node Package Manager is used to install Angular and required packages (like Bootstrap for instance).
</p>